{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Acerca de nosotros</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% static 'core/images/banner.jpg' %}">Home</a></li>
                        <li class="breadcrumb-item active">NOSOTROS</li>
                    </ul>
                </div>
            </div>
        </div>

    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'core/images/Tienda_nosotros.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Somos <span>Petshop</span></h2>
                    <p>Somos una asosiacion benefica dirigida a la venta de articulos para animales sin fin de lucro, empezamos a vender de forma Online por nuestras redes cuando nuestros clientes empezaron a crecer, por lo tanto decidimos mudarnos a un sitio web donde podras recibir la misma atencion y la misma familiaridad tan propia de nuestra tienda.!</p>
                    <p>Bienvenido a nuestra pagina de la tienda Petshop, aqui encontraras todos los articulos que necesites para tus animales.</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Somos confiables</h3>
                        <p>Llevamos mas de 2 años en este mercado de venta para articulos a animales a beneficio. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Somos profesionales.</h3>
                        <p>Escucharemos todas las criticas o peticiones para poder mejorar. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Somos expertos</h3>
                        <p>Gracias a nuestra experiencia en este ambito somos expertos en atencion y venta. </p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Conoce nuestro equipo</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'core/images/icono_nosotros.png' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Exequiel</h3> <span class="post">Desarrollador Web y dueño</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Desarrollador Web y dueño de esta pagina, aportando tanto como en la pagina como en la venta y administracion de la empresa. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'core/images/icono_nosotros.png' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Jeffrey</h3> <span class="post">Desarrollador web y Despacho</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Desarrollador de esta pagina web y administrador de los delivery, experto en su area con años de experiencia. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'core/images/icono_nosotros.png' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Benjamin</h3> <span class="post">Desarrollador y atencion al cliente</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Desarrollador web y tambien atencion al publico, se dedica a resolver las dudas y quejas de los clientes. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->

    <!-- End Instagram Feed  -->
{% endblock %}
  