{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- Start Cart  -->
<div class="cart-box-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="table-main table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Imagenes</th>
                              <th>Producto</th>
                              <th>Precio</th>
                              <th>Cantidad</th>
                              <th>Total</th>
                              <th>Eliminar</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="thumbnail-img">
                                  <a href="#">
            <img class="img-fluid" src="{% static 'core/images/correa.jpg' %}" alt="" />
          </a>
                              </td>
                              <td class="name-pr">
                                  <a href="#">
            Correa para perro 
          </a>
                              </td>
                              <td class="price-pr">
                                  <p>$ 80.0</p>
                              </td>
                              <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
                              <td class="total-pr">
                                  <p>$ 80.0</p>
                              </td>
                              <td class="remove-pr">
                                  <a href="#">
            <i class="fas fa-times"></i>
          </a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumbnail-img">
                                  <a href="#">
            <img class="img-fluid" src="{% static 'core/images/collares.jpg' %}" alt="" />
          </a>
                              </td>
                              <td class="name-pr">
                                  <a href="#">
            Correa para gato
          </a>
                              </td>
                              <td class="price-pr">
                                  <p>$ 60.0</p>
                              </td>
                              <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
                              <td class="total-pr">
                                  <p>$ 80.0</p>
                              </td>
                              <td class="remove-pr">
                                  <a href="#">
            <i class="fas fa-times"></i>
          </a>
                              </td>
                          </tr>
                          <tr>
                              <td class="thumbnail-img">
                                  <a href="#">
            <img class="img-fluid" src="{% static 'core/images/arnes.png' %}" alt="" />
          </a>
                              </td>
                              <td class="name-pr">
                                  <a href="#">
            Correa para gato
          </a>
                              </td>
                              <td class="price-pr">
                                  <p>$ 30.0</p>
                              </td>
                              <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
                              <td class="total-pr">
                                  <p>$ 80.0</p>
                              </td>
                              <td class="remove-pr">
                                  <a href="#">
            <i class="fas fa-times"></i>
          </a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

      <div class="row my-5">
          <div class="col-lg-6 col-sm-6">
              <div class="coupon-box">
                  <div class="input-group input-group-sm">
                      <input class="form-control" placeholder="Ingresar cupón " aria-label="Coupon code" type="text">
                      <div class="input-group-append">
                          <button class="btn btn-theme" type="button">Aplicar cupón</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-sm-6">
              <div class="update-box">
                <div class="col-12 d-flex shopping-box"> <a href="{% url 'shop' %}" class="ml-auto btn hvr-hover">COMPRAR MÁS PRODUCTOS</a> </div>>
    
              </div>
          </div>
      </div>

      <div class="row my-5">
          <div class="col-lg-8 col-sm-12"></div>
          <div class="col-lg-4 col-sm-12">
              <div class="order-box">
                  <h3>Orden</h3>
                  <div class="d-flex">
                      <h4>Sub Total</h4>
                      <div class="ml-auto font-weight-bold"> $ 130 </div>
                  </div>
                  <div class="d-flex">
                      <h4>Descuento</h4>
                      <div class="ml-auto font-weight-bold"> $ 40 </div>
                  </div>
                  <hr class="my-1">
                  <div class="d-flex">
                      <h4>Descuento del cupón</h4>
                      <div class="ml-auto font-weight-bold"> $ 10 </div>
                  </div>
                  <div class="d-flex">
                      <h4>Tarifa</h4>
                      <div class="ml-auto font-weight-bold"> $ 2 </div>
                  </div>
                  <div class="d-flex">
                      <h4>Costo de envio</h4>
                      <div class="ml-auto font-weight-bold"> Free </div>
                  </div>
                  <hr>
                  <div class="d-flex gr-total">
                      <h5>Total </h5>
                      <div class="ml-auto h5"> $ {{ valor }} </div>
                  </div>
                  <hr>
          </div>
          <div class="d-flex">
            <div class="ml-auto font-weight-bold "> 
                <div class="col-12 d-flex shopping-box"> <a href="{% url 'checkout' %}" class="ml-auto btn hvr-hover">IR A PAGAR</a> </div>
             </div>
        </div>
      </div>
      
  </div>
  
</div>

<!-- End Cart -->


{% endblock %}
{% block js %}

{% endblock %}